<p>
  Thank you for your invoice request. We will review the details and get email you back as soon as possible.
</p>
<p>
  User: <%= @user.name %> &lt;<%= @user.email %>&gt;
</p>
<p>
  Details:
</p>
<p>
  <%= @details %>
</p>
