<p>
  Thank you for your invoice request! We will review the details and get email you back as soon as possible.
</p>
<p>
  User: <%= @user.name %> &lt;<%= @user.email %>&gt;
</p>
<p>
  Seats: <%= @seats %>
</p>
<p>
  Details:
</p>
<div style="background-color: #ddd; color: #555; font-style: italic; padding: 6px; border-radius: 4px; white-space: pre-wrap;">
  <%= @details %>
</div>
