<div class="md:flex md:size-full"
     data-controller="editor"
     data-editor-project-id-value="<%= project.id %>"
  data-editor-editor-state-url-value="<%= editor_state_project_path(project) %>"
     data-turbo="false">
  <div data-editor-target="root" class="h-screen md:size-full">
    <div class="mx-5">
      PreTeXt.Plus (beta) works best in an updated Chromium-based browser such as Google Chrome or Microsoft Edge.
      If you're seeing this message, please update your browser or switch to Chrome/Edge.
    </div>
  </div>
</div>
