<% content_for :title, @project.title %>
<div class="size-full flex flex-col">
    <% if @project.user == @current_user %>
        <div class="p-3 w-2/3 m-auto text-center text-sm text-gray-500">
            <div>
                You are the owner of this project
                (<%= link_to "Manage", @project, class: "text-blue-500 hover:font-semibold" %>).
            </div>
            <div>
                <% unless @current_user&.sustaining_subscription? %>
                    To share your project without the PreTeXt.Plus navbar above, and support the
                    development of this website, please consider
                    <%= link_to "subscribing", :session, class: "text-blue-500 hover:font-semibold" %>
                    to PreTeXt.Plus.
                <% else %>
                    Thanks for being a sustaining subscriber! Other people
                    won't see this message or the navbar above.
                <% end %>
            </div>
        </div>
    <% end %>
    <iframe class="w-full h-screen md:h-full" srcdoc="<%= @project.html_source %>"></iframe>
</div>