<%= link_to subscription_path(subscription.id), 
    class:"rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6",
    data: {turbo: false} do %>
    <div class="text-gray-600 mb-4 text-lg">
        <span class="text-violet-800"><%= subscription.type.name %></span> Plan
    </div>
    <%= render "subscription", subscription: subscription %>
<% end %>
